body, html {
  margin: 0;
  padding: 0;
  

}
@media only screen and (max-width: 480px) {
	.bio {
		padding: 3px !important;
		margin-top: 15px;
	}
}


*{
    font-family: font-family: 'Amatic SC', cursive;
}

#home {
	background-image: url("../images/cover1.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 90vh;
	/*background-size: 115%;*/
	/*background-position: right bottom;*/
}



.slide {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.middle {
	text-align: center;
	margin-bottom: 20px;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background:transparent;
	background-color:transparent;
	border-color:transparent;
}

.navbar li{
color:#000;
} 

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	width: 0px;
	background: black;
	transition: width .2s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: black;
}
.underline {
	border-bottom: 1px solid #ffb000;
}
.heading {
	color: white;
	font-family: 'Indie Flower', cursive;

	font-weight: 200;
	font-size: 94px;
}

.subheading {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 40px;
}

.white {
	color: black;
}

.dp{
	
	width:400px;
	height:400px;
	box-shadow: 6px 6px 4px #888888;
}

.social{
	width:40px;
	height:40px;
	border-radius:50%;
	margin: 12px;
}

.social:hover{
	transform:scale(1.5);
	transition-duration:0.2s;
}

.about .row {
	margin: 20px 0px;
	box-shadow: 5px 5px 5px 0px rgba(205,200,205,1);
}

.about .col-md-5 {
	padding: 0px;
}

.about img {
	width: 100%;
}

.bio {
	padding: 25px;
}



.portfolio {
	margin: 30px 0px;
	background-color: #ffb000;
}

.portfolio .row {
	margin: 35px 0px;
}

.portfolio .col-md-3 {
	padding: 15px;
}

.card {
	background-color: white;
	box-shadow: 5px 5px 5px 0px rgba(135,130, 135,1);
}

.card img {
	width: 100%;
}

.card h3 {
	font-weight: 700;
	text-align: center;
}

.card h3, .card p {
	padding: 10px;
}

.card:hover {
	transform: scale(1.1);
	transition-duration: 0.2s;
}
.card p{
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 20px;
}

.footnote{
	align-items:center;
	text-align:center;
}
.love{
	 width:40px;
	height:40px;
}
.nav a{
font-size:12px;
}
