body, html {
  margin: 0;
  padding: 0;
  

}

@media only screen and (max-width: 480px) {
	.bio {
		padding: 3px !important;
		margin-top: 15px;
	}
}


*{
    font-family: font-family: 'Amatic SC', cursive;
}

#home {
	background-image: url("../images/cover1.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 90vh;
	/*background-size: 115%;*/
	/*background-position: right bottom;*/
}



.slide {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.middle {
	text-align: center;
	margin-bottom: 20px;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background:transparent;
	background-color:transparent;
	border-color:transparent;
}

.navbar li{
color:#000;
} 

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 2px;
	width: 0px;
	background: black;
	transition: width .2s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: black;
}
.underline {
	border-bottom: 1px solid #ffb000;
}
.heading {
	color: white;
	font-family: 'Indie Flower', cursive;

	font-weight: 200;
	font-size: 94px;
}

.subheading {
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 40px;
}

.white {
	color: black;
}

.dp{
	
	width:400px;
	height:400px;
	box-shadow: 6px 6px 4px #888888;
}

.social{
	width:40px;
	height:40px;
	border-radius:50%;
	margin: 12px;
}

.social:hover{
	transform:scale(1.5);
	transition-duration:0.2s;
}

.about .row {
	margin: 20px 0px;
	box-shadow: 5px 5px 5px 0px rgba(205,200,205,1);
}

.about .col-md-5 {
	padding: 0px;
}

.about img {
	width: 100%;
}

.bio {
	padding: 25px;
}



.portfolio {
	margin: 30px 0px;
	background-color: #ffb000;
}

.portfolio .row {
	margin: 35px 0px;
}

.portfolio .col-md-3 {
	padding: 15px;
}

.card {
	background-color: white;
	box-shadow: 5px 5px 5px 0px rgba(135,130, 135,1);
}

.card img {
	width: 100%;
}

.card h3 {
	font-weight: 700;
	text-align: center;
}

.card h3, .card p {
	padding: 10px;
}

.card:hover {
	transform: scale(1.1);
	transition-duration: 0.2s;
}
.card p{
	color: black;
	font-family: 'Dosis', sans-serif;
	font-weight: 80;
	font-size: 20px;
}

.footnote{
	align-items:center;
	text-align:center;
}
.love{
	 width:20px;
	height20px;
}
.nav a{
font-size:12px;

}
.main-frame {
  background: url(images/.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;

}
#particle{
background-size:cover;
}
#particle-js{
height:100%;
}
.
/*body {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
}*/

* {
	box-sizing: border-box;
}

/*nav {
	padding: 30px;
}
*/
nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	float: left;
}

nav ul li:not(:first-child) {
	margin-left: 25px;
}

nav ul li a {
	display: inline-block;
	outline: none;
	color: #1f2227;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.04em;
}

nav ul li a:hover {
	color: #808080;
	text-decoration: none;
}

@media screen and (max-width: 992px) {
	.nav-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: #1f2227;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.nav-container ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.nav-container ul li {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav-container ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav-container ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav-container ul li:nth-child(3) a {
		transition-delay: 0.4s;
	}

	.nav-container ul li:nth-child(4) a {
		transition-delay: 0.5s;
	}
	.nav-container ul li:nth-child(5) a {
		transition-delay: 0.6s;
	}

	.nav-container ul li:not(:first-child) {
		margin-left: 0;
	}

	.nav-container ul li a {
		padding: 10px 25px;
		opacity: 0;
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		transform: translateY(-20px);
		transition: all 0.2s ease;
	}

	.nav-open {
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav-open i {
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav-open i:nth-child(1) {
		margin-top: 16px;
	}

	.nav-open i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.nav-open i:nth-child(3) {
		margin-top: 4px;
	}
}
#nav:checked ~ .nav-container {
	z-index: 9990;
	opacity: 1;
}

#nav:checked + .nav-open {
	transform: rotate(45deg);
}

#nav:checked + .nav-open i {
	background: #fff;
	transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
	opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}



#nav:checked ~ .nav-container ul li a {
	opacity: 1;
	transform: translateY(0);
}

